<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invitación al Álbum de Eventify</title>
</head>
<body>
<h2>Te invitamos a unirte al álbum de Eventify</h2>
<p>Escanea el siguiente código QR para acceder al álbum:</p>
<img src="https://api.qrserver.com/v1/create-qr-code/?data=[[${albumLink}]]&size=300x300" alt="QR Code" style="width: 150px; height: 150px;"/>
<p>O haz clic en el siguiente enlace para acceder al álbum:</p>
<a href="[[${albumLink}]]">Acceder al Álbum</a>
<br><br>
<img src="cid:logoImage" alt="Eventify Logo" style="width: 100px; height: 100px;"/>
</body>
</html>
